@model ProtoTwo.Models.Welcome

<!--Sets the Page Title and Layout Page-->
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}

<div style="width: 100%; height: 700px; padding: 10px">
    <div class="rev_cont">
        <!--Cartoon office people image-->
        <div class="rev_half rev_img">
            <h1 class="font5 rev_title" style="color: dimgray; margin-top: 0px">Rate Your Visit To SIDMACH!</h1>
            <img src="~/Images/office1.jpg" alt="img">
        </div>

        <!--Feedback Collection-->
        <div class="rev_half" style="border-radius: 20px; box-shadow: 0px 1px 10px; height: auto">
            <div style="height: 80px; border-radius: 10px; margin-bottom: 20px; ">
                <!--Message-->
                <div>
                    <h1 class="font5" style="color: dimgray; padding: 30px 30px 0px 30px; margin: 0px">At SIDMACH, we put Customer Satisfaction first.</h1>
                    <h4 class="font1" style="color: dimgray; padding: 10px 30px 0px 30px">Take a moment to rate your recent visit to SIDMACH.</h4>
                    <h4 class="font1" style="color: dimgray; padding: 0px 30px 0px 30px">This information will help us improve our Customer Relations and ensure that your next visit will be even better!</h4>
                    <h4 class="font1" style="color: dimgray; padding: 5px 30px 0px 30px">How would you evaluate your experience at SIDMACH?</h4>
                </div>
                <br>
                <div style="padding-left: 30px; padding-right: 30px; width: 100%;">
                    <!--Display ten button for user selection.-->
                    @for (var i = 1; i < 11; i++)
                    {
                        <div class="rev_opt">
                            <form method="post" action="/Welcome/saveRating">
                                <input type="hidden" name="Rating" value="@i">
                                <input type="submit" value="@i" style="border: 0px; width: 100%; height: 100%; background-color: white; font-family: Momcake; color: dimgray; font-size: 20px">
                            </form>
                        </div>
                    }

                    <!--Labels. Kind of.-->
                    <h4 class="font5" style="float: left; display: inline; color: dimgray">Very Bad</h4>
                    <h4 class="font5" style="float: right; display: inline; color: dimgray">Very Good</h4>
                    <h4 class="font5 mod">Moderate</h4>
                </div>
            </div>
        </div>

    </div>
</div>