<!DOCTYPE html>
<html style="height: 100%" lang="en">
<head>
    <title>@ViewBag.Title - VMS</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/script.js"></script>
</head>
<body style="overflow: hidden">
    <div class="highlight" style="top: 0px"></div>
    @RenderBody()
    <div class="highlightd" style="position: fixed; bottom: 0px"></div>
</body>
</html>
